body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}

ul {
  list-style: none;
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  /* max-width: 1166px; */
  /* width: 1166px; */
  width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.title {
  font-weight: 600;
  /* font-size: 24px; */
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.title span {
  color: #fd9222;
}

/** ==============HEADER================ */

.header {
  padding-top: 24px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
}

.header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
  margin-right: 90px;
}

.header-logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
  display: flex;
  align-items: center;
}

.header-logo-cursive {
  font-style: italic;
}

.header-menu-list {
  /* display: flex; */
  display: none;
  gap: 24px;
}

/* .header-menu-item {
  margin-right: 24px;
}

.header-menu-item:last-child {
  margin-right: 0;
} */

/* -------------------- */

/* .header-menu-item:not(:last-child) {
  margin-right: 24px;
} */

.header-menu-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #fd9222;
}

.header-contact-list {
  /* display: flex; */
  display: none;
  gap: 14px;
}

.header-contact-link {
  width: 40px;
  height: 40px;
  background-color: #fd9222;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition-property: background-color;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.54, -1.21, 0.23, 1.93); */
  transition: background-color 500ms cubic-bezier(0.54, -1.21, 0.23, 1.93)
      1000ms,
    border-radius 500ms linear;
}

.header-contact-icon {
  fill: transparent;
  stroke: #ffffff;
}

.header-contact-link:hover {
  background-color: aquamarine;
  border-radius: 15px;
}

.mob-menu {
  position: fixed;
  top: 0;
  background-color: #1e1823;
  width: 100vw;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.menu-close-btn {
  display: block;
  margin-left: auto;
  margin-bottom: 88px;
}

.mob-menu-top {
  display: flex;
  flex-direction: column;
}

.mob-menu-nav {
  align-self: center;
}

.mob-menu-list {
  margin-bottom: 50px;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}
.mob-contact-list {
  display: flex;
  gap: 12px;
}
.mob-contact-item {
}
.mob-contact-link {
}
.mob-contact-icon {
  fill: transparent;
  stroke: #ffffff;
}

/** ============================== */

/** ==============HERO================ */

.hero {
  padding-bottom: 80px;
}

.hero-wrap {
  /* padding: 380px 40px 40px 40px; */
  padding: 395px 20px 20px 20px;
  background: rgba(17, 17, 17, 0.6);
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url(../images/main-bg-mob.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-wrap {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url(../images/main-bg-mob-2x.jpeg);
  }
}

.hero-title {
  font-weight: 500;
  /* font-size: 28px; */
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 32px;
  max-width: 484px;
}

.hero-buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.hero-buy-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 100px;
  background-color: #fd9222;
  border: none;
  /* padding: 14px 40px; */
  padding: 12px 16px;
  margin-right: 14px;
}

.hero-made-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100px;
  /* padding: 14px 40px; */
  padding: 12px 16px;
  background-color: transparent;
}

.hero-down-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
  /* margin-left: auto; */
  margin-top: 32px;
}

/** ============================== */

/** =============FEATURES================= */

.features {
  background: #1e1823;
  /* padding-top: 50px;
  padding-bottom: 50px; */
  padding-top: 20px;
  padding-bottom: 20px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 88px; */
  gap: 20px;
  /* padding-left: 18px;
    padding-right: 18px; */
}

.features-item {
  /* width: calc((100% - 2 * 88px) / 3); */
  width: 100%;
  padding-right: 28px;
}

.features-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}

.features-item-text {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/** ============================== */

/** =============TASTE================= */

.taste {
  /* padding-top: 120px;
  padding-bottom: 60px; */
  padding-top: 80px;
  padding-bottom: 40px;
}

.taste-title {
  max-width: 412px;
  margin: 0 auto;
  margin-bottom: 28px;
}

.taste-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
  max-width: 486px;
  margin: 0 auto;
  /* margin-bottom: 50px; */
  margin-bottom: 32px;
}

.taste-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 24px 32px; */
  gap: 20px;
  /* column-gap: 32px;
  row-gap: 24px; */
}

.taste-item {
  background-color: #fd9222;
  border-radius: 15px;
  /* width: calc((100% - 32px * 3) / 4); */
  width: 100%;
  padding: 28px 23px;
}

.taste-image {
  margin-bottom: 36px;
  margin: 0 auto;
}

.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
  padding-left: 5px;
}

/** ============================== */

/** =============MADE================= */

.made {
  padding-top: 60px;
  padding-bottom: 60px;
}

.made-title {
  /* margin-bottom: 50px; */
  margin-bottom: 32px;
  /* display: flex;
    align-items: center;
    justify-content: center; */
}
/* 
.made::before {
  content: '';
  width: 40px;
  height: 40px;
  background-image: url(../images/instagram.svg);
  display: inline-block;
  margin-right: 10px;
}

.made::after {
  content: '';
  width: 40px;
  height: 40px;
  background-image: url(../images/instagram.svg);
  display: inline-block;
  margin-right: 10px;
} */

.made-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.made-wrap picture {
  flex-shrink: 0;
  width: 100%;
}

.made-content {
  /* padding: 32px; */
  padding: 20px 14px;
  background-color: #ffffff;
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
  margin-bottom: 28px;
}

.made-list {
}

.made-item {
  margin-bottom: 24px;
  position: relative;
  padding-left: 16px;
}

.made-item:last-child {
  margin-bottom: 0;
}

.made-item::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #4c4c4c;
  border: 1px solid #eceded;
  position: absolute;
  left: 0;
  top: 5px;
}

.made-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}

/** ============================== */

/** =============PRODUCTS================= */

.products {
  padding-top: 60px;
  padding-bottom: 60px;
}

.products-title {
  margin-bottom: 50px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
}

.products-item {
  width: 100%;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  background-color: #fff;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.products-image {
  margin: 0 auto;
  margin-bottom: 8px;
}

.products-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 2px;
}

.products-item-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  margin-bottom: 18px;
}

.products-item-btn {
  font-weight: 600;
  font-size: 14px;
  color: #111;
}
/** ============================== */

/** =============SELLERS================= */

.sellers {
  padding-top: 60px;
  padding-bottom: 60px;
}
.sellers-title {
  margin-bottom: 50px;
}

.sellers-list {
  display: flex;
  gap: 16px;
}

.sellers-item {
  width: calc((100% - 32px) / 3);
  border-radius: 15px 15px 0 0;
}

/* .sellers-item:hover .sellers-cover-text {
  transform: translateY(0);
} */

.sellers-item:hover .sellers-cover-text {
  transform: translateY(0);
}

.sellers-image {
}

.sellers-cover-wrap {
  position: relative;
  overflow: hidden;
}

.sellers-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  padding-top: 28px;
  padding-bottom: 28px;
  text-align: center;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-top: 0;
  border-radius: 0 0 15px 15px;
}

.sellers-cover-text {
  position: absolute;
  top: 0;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fafafa;
  backdrop-filter: blur(15px);
  background: linear-gradient(
    161deg,
    rgba(253, 253, 255, 0.1) 0%,
    rgba(8, 2, 21, 0.1) 100%
  );
  height: 100%;
  border-radius: 15px 15px 0 0;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  align-items: center;
  transform: translateY(100%);
  transition: transform 300ms ease;
}

/** ============================== */

/** =============SELLERS================= */

.loved {
  padding-top: 60px;
  padding-bottom: 60px;
}

.loved-title {
}

.loved-list {
}

.loved-item {
}

.loved-image {
}

.loved-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;
}

.loved-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.loved-btn {
  font-weight: 600;
  font-size: 18px;
  color: #111;
}

.footer {
  background: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-top {
  display: flex;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 24px;
}

.footer-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #ffffff;
  max-width: 300px;
  margin-right: auto;
}

.footer-text span {
  color: #fd9222;
}

.footer-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fff;
  margin-bottom: 14px;
}

.footer-soc {
  margin-right: 50px;
}

.footer-soc-list {
  display: flex;
  gap: 14px;
}

.footer-soc-item {
}

.footer-soc-link {
}

.footer-soc-icon {
  fill: transparent;
  stroke: #ffffff;
}

.footer-address {
  font-style: normal;
}

.footer-contacts-list {
}

.footer-contacts-item {
}

.footer-contacts-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-navigation {
}

.footer-menu-list {
  display: flex;
  gap: 24px;
}

.footer-menu-item {
}

.footer-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}

.footer-form {
  display: flex;
  gap: 8px;
}
.footer-input {
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  width: 313px;
  height: 52px;
  background-color: transparent;
  padding-left: 24px;
  padding-right: 24px;
}

.footer-input::placeholder {
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.3);
}
.footer-form-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 100px;
  padding: 17px 40px;
  background-color: #fd9222;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.backdrop {
  position: fixed;
  top: 0;
  background-color: rgba(30, 24, 35, 0.6);
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 517px;
  min-height: 794px;
  background-color: #fafafa;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-close {
  position: absolute;
  right: 24px;
  top: 24px;
}

.modal-title {
  text-align: left;
  max-width: 298px;
  margin-bottom: 40px;
}

.modal-field {
  margin-bottom: 18px;
}

.modal-input {
  width: 100%;
  height: 68px;
  border: 1.5px solid rgba(17, 17, 17, 0.25);
  border-radius: 13px;
  background-color: transparent;
  outline: transparent;
  padding-left: 50px;
  color: teal;
  transition: border-color 300ms linear;
}

.modal-input:invalid {
  border-color: red;
}

.modal-input:valid {
  border-color: rgb(22, 226, 144);
}

.modal-input:disabled {
  background-color: #b2aeae;
}

.modal-input:focus {
  border-color: #fd9222;
}

.modal-input:focus + .modal-icon {
  stroke: #fd9222;
}

.modal-input::placeholder {
  color: purple;
}

.modal-label {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
  display: block;
  margin-bottom: 8px;
}

.modal-label span {
  display: block;
  margin-bottom: 8px;
}

.modal-icon {
  position: absolute;
  fill: transparent;
  stroke: #404040;
  left: 24px;
  top: 22px;
  top: 50%;
  transform: translateY(-50%);
  transition: stroke 300ms linear;
}

.modal-input-wrap {
  position: relative;
}

.modal-text {
  width: 100%;
  height: 137px;
  border: 1.5px solid rgba(17, 17, 17, 0.25);
  border-radius: 13px;
  background-color: transparent;
  outline: transparent;
  padding: 22px 24px;
  color: teal;
  transition: border-color 300ms linear;
  resize: none;
}

.check-text {
  position: relative;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
  display: flex;
  align-items: center;
}

/**-- ---------------TOGGLE------------ */

/* .check-text::before {
  content: '';
  width: 40px;
  height: 22px;
  border: 1px solid #b2aeae;
  border-radius: 50px;
  margin-right: 8px;
  transition-duration: 300ms;
  transform: rotate(45deg);
}

.check-text::after {
  content: '';
  position: absolute;
  left: 5px;
  top: -4px;
  width: 18px;
  height: 18px;
  background-color: #b2aeae;
  border-radius: 50%;
  transition-duration: 300ms;
}

.modal-check:checked + .check-text::after {
  transform: translate(12px, 12px);
  background-color: #fafafa;
}

.modal-check:checked + .check-text::before {
  background-color: #a3f19d;
} */

/**-- --------------------------- */

.check-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fd9222;
}

.check-text span {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

/* .modal-check-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.modal-check:checked + .check-text span {
  background-color: #fd9222;
  border: none;
  fill: #fafafa;
}

@media screen and (min-width: 768px) {
  .container {
    width: 734px;
  }

  .made .container {
    width: 644px;
  }

  .title {
    font-size: 24px;
  }

  .hero-wrap {
    padding: 670px 40px 40px 40px;
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url(../images/main-bg-tab.jpeg);
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-wrap {
      background-image: linear-gradient(
          rgba(17, 17, 17, 0.4),
          rgba(17, 17, 17, 0.4)
        ),
        url(../images/main-bg-tab-2x.jpeg);
    }
  }

  .hero-title {
    font-size: 28px;
  }

  .hero-made-btn,
  .hero-buy-btn {
    padding: 14px 40px;
  }

  .hero-down-btn {
    margin-top: 0;
    margin-left: auto;
  }

  .features {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .features-list {
    gap: 44px 88px;
  }

  .features-item {
    width: calc((100% - 88px) / 2);
    padding-right: 0;
  }

  .taste {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .taste-text {
    margin-bottom: 50px;
  }

  .taste-list {
    gap: 32px;
  }

  .taste-item {
    width: calc((100% - 32px) / 2);
  }

  .made {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .made-title {
    margin-bottom: 50px;
  }

  .made-content {
    padding: 32px;
  }

  .products {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .products-list {
    gap: 32px;
  }

  .products-item {
    width: calc((100% - 32px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1166px;
  }

  .made .container {
    width: 1166px;
  }

  .hero-wrap {
    padding: 395px 40px 40px 40px;
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url(../images/main-bg.jpeg);
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-wrap {
      background-image: linear-gradient(
          rgba(17, 17, 17, 0.4),
          rgba(17, 17, 17, 0.4)
        ),
        url(../images/main-bg-2x.jpeg);
    }
  }

  .features-list {
    gap: 0 88px;
    padding-left: 18px;
    padding-right: 18px;
  }

  .features-item {
    width: calc((100% - 2 * 88px) / 3);
  }

  .taste {
    padding-top: 120px;
    padding-bottom: 60px;
  }

  .taste-list {
    gap: 24px 32px;
  }

  .taste-item {
    width: calc((100% - 32px * 3) / 4);
  }

  .made {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .made-wrap {
    flex-wrap: nowrap;
  }

  .made-wrap picture {
    width: unset;
  }

  .products {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .products-list {
    gap: 24px 18px;
  }

  .products-item {
    width: calc((100% - 54px) / 4);
  }
}
