body {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}

ul {
  list-style: none;
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  /* max-width: 1166px; */
  width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.title span {
  color: #fd9222;
}

/** ==============HEADER================ */

.header {
  padding-top: 24px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
}

.header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
  margin-right: 90px;
}

.header-logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
  display: flex;
  align-items: center;
}

.header-logo-cursive {
  font-style: italic;
}

.header-menu-list {
  display: flex;
  gap: 24px;
}

/* .header-menu-item {
  margin-right: 24px;
}

.header-menu-item:last-child {
  margin-right: 0;
} */

/* -------------------- */

/* .header-menu-item:not(:last-child) {
  margin-right: 24px;
} */

.header-menu-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #fd9222;
}

.header-contact-list {
  display: flex;
  gap: 14px;
}

.header-contact-link {
  width: 40px;
  height: 40px;
  background-color: #fd9222;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-contact-icon {
  fill: transparent;
  stroke: #ffffff;
}

.header-contact-link:hover {
  background-color: aquamarine;
}

/** ============================== */

/** ==============HERO================ */

.hero {
  padding-bottom: 80px;
}

.hero-wrap {
  padding: 380px 40px 40px 40px;
  background: rgba(17, 17, 17, 0.6);
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url(../images/main-bg.jpeg);
  border-radius: 30px;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 32px;
  max-width: 484px;
}

.hero-buttons {
  display: flex;
  align-items: center;
}

.hero-buy-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 100px;
  background-color: #fd9222;
  border: none;
  padding: 14px 40px;
  margin-right: 14px;
}

.hero-made-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 14px 40px;
  background-color: transparent;
}

.hero-down-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
  margin-left: auto;
}

/** ============================== */

/** =============FEATURES================= */

.features {
  background: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.features-list {
  display: flex;
  gap: 88px;
  padding-left: 18px;
  padding-right: 18px;
}

.features-item {
  width: calc((100% - 2 * 88px) / 3);
}

.features-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}

.features-item-text {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/** ============================== */

/** =============TASTE================= */

.taste {
  padding-top: 120px;
  padding-bottom: 120px;
}

.taste-title {
  max-width: 412px;
  margin: 0 auto;
  margin-bottom: 28px;
}

.taste-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
  max-width: 486px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.taste-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 32px;
  /* column-gap: 32px;
  row-gap: 24px; */
}

.taste-item {
  background-color: #fd9222;
  border-radius: 15px;
  width: calc((100% - 32px * 3) / 4);
  padding: 28px 23px;
}

.taste-image {
  margin-bottom: 36px;
}

.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
  padding-left: 5px;
}

/** ============================== */

/** =============MADE================= */

.made {
}

.made-title {
  /* display: flex;
    align-items: center;
    justify-content: center; */
}
/* 
.made::before {
  content: '';
  width: 40px;
  height: 40px;
  background-image: url(../images/instagram.svg);
  display: inline-block;
  margin-right: 10px;
}

.made::after {
  content: '';
  width: 40px;
  height: 40px;
  background-image: url(../images/instagram.svg);
  display: inline-block;
  margin-right: 10px;
} */

.made-image {
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
}

.made-list {
}

.made-item {
}

.made-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}

/** ============================== */

/** =============PRODUCTS================= */

.products {
}

.products-title {
}

.products-list {
}

.products-item {
}

.products-image {
}

.products-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}

.products-item-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}

.products-item-btn {
  font-weight: 600;
  font-size: 14px;
  color: #111;
}
/** ============================== */

/** =============SELLERS================= */

.sellers {
}
.sellers-title {
}

.sellers-list {
}

.sellers-item {
}

.sellers-image {
}

.sellers-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}

/** ============================== */

/** =============SELLERS================= */

.loved {
}

.loved-title {
}

.loved-list {
}

.loved-item {
}

.loved-image {
}

.loved-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;
}

.loved-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.loved-btn {
  font-weight: 600;
  font-size: 18px;
  color: #111;
}

.footer {
  background: #1e1823;
}

.footer-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.footer-text span {
  color: #fd9222;
}

.footer-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fff;
}

.footer-soc-list {
}

.footer-soc-item {
}

.footer-soc-link {
}

.footer-soc-icon {
}

.footer-address {
  font-style: normal;
}

.footer-contacts-list {
}

.footer-contacts-item {
}

.footer-contacts-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}

.footer-navigation {
}

.footer-menu-list {
}

.footer-menu-item {
}

.footer-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}
